body{
    font-family: sans-serif;
}
.pam{
    width: 100%;
    height: 250px;
    position: relative;
    display: grid;
    text-align: center;
    top: 100px;
}
.pampam{
    font-size: 36px;
    color: black;
}
.pamparam{
    font-size: 42px;
    color: black;
}

.list{
    position: relative;
    top: 30px;
    width: 100%;
    height: 350px;
    text-align: center;
}
.nt2{
        position: relative;
    top: 70px;
    font-size: 36px;
    color: black;
}
ul{
    color: black;
    font-size: 34px;
    font-family: sans-serif;
    position: relative;
    left: 600px;
   
}
.cont{
    width: 100%;
    max-width:750px;
    position: relative;
    top: 90px;
    text-align: left;
}